<div class="wrap">
  <h2>Audience <a class="add-new-h2" href="#">Add New</a></h2>

  <table class="wp-list-table widefat fixed audiences" cellspacing="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <strong><a href="#">Saúde</a></strong>

          <div class="row-actions">
            <span class="edit">
              <a href="#" title="Edit this item">Edit</a> |
            </span>
            <span class="edit">
              <a href="#" title="Moderate posts">Moderate posts</a> |
            </span>
            <span class="edit">
              <a href="#" title="Publish posts">Publish posts</a> |
            </span>
            <span class="trash">
              <a href="#" title="Remove this item">Remove</a>
            </span>
          </div>
        </td>
        <td class="column-title">
          O que o Governo do Estado deve fazer para facilitar o acesso e
          melhorar o atendimento na rede de saúde pública?
        </td>
        <td>
          06/10/2011 10:22
        </td>
        <td>
          Running
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col">Title</th>
        <th classs="manage-column sortable desc" scope="col">Description</th>
        <th classs="manage-column sortable asc" scope="col">Date</th>
        <th classs="manage-column sortable desc" scope="col">Status</th>
      </tr>
    </tfoot>
  </table>

</div>
