<div class="wrap">
  <div id="icon-edit" class="icon32 icon32-posts-post"><br></div>
  <h2>Add New Video</h2>
  <form id="video" method="post" class="form-wrap" action="admin.php?page=gd-videos-add">
    <div class="metabox-holder">
      <div id="poststuff">

        {% if errors %}
        <h3>There were found errors in the following form fields</h3>
        <ul>
          {% for i in errors %}
          <li><strong>{{ i }}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}

        <div id="col-right" style="width:49%">

          <div class="stuffbox">
            <h3>Video size</h3>
            <div class="form-field form-required">
              <label>Width</label>
              <input type="text" name="video_width" value="{{ fields.video_width }}">
            </div>
            <div class="form-field form-required">
              <label>Height</label>
              <input type="text" name="video_height" value="{{ fields.video_height }}">
            </div>
          </div> <!-- stuffbox videosize -->

          <div class="stuffbox">
            <h3>Sources</h3>

            <div class="form-field form-required">
              {% if source_fields|length == 0 %}
              <p>
                Please, inform at least one video source before adding a
                new video
              </p>
              {% endif %}
              {% if source_incomplete|length > 0 %}
              <p>
                Please fix the errors present in one of your sources
              </p>
              {% endif %}

              <ul id="sources">
                {% for source in source_fields %}
                <li class="sourcerow">
                  <div id="col-right" style="width:72%">
                    <div class="col-wrap">
                      <label>URL</label>
                      <input
                         type="text" name="urls[]" style="width:80%"
                         value="{{ source.url }}">
                      <button class="button" onclick="return wpgdVideo.removeSource(this)">
                        -
                      </button>
                    </div>
                  </div>

                  <div id="col-left" style="width:25%">
                    <div class="col-wrap">
                      <label>Format</label>
                      <select name="formats[]">
                        <option value=""></option>
                        <option
                           {% if 'video/mp4' in source.format %}
                           selected="selected"
                           {% endif %}
                           value='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                          MP4
                        </option>
                        <option
                           {% if 'video/webm' in source.format %}
                           selected="selected"
                           {% endif %}
                           value='video/webm; codecs="vp8, vorbis"'>
                          WebM/Vorbis
                        </option>
                        <option
                           {% if 'video/ogg' in source.format %}
                           selected="selected"
                           {% endif %}
                           value='video/ogg; codecs="theora, vorbis"'>
                          Ogg/Vorbis
                        </option>
                        <option
                           {% if 'video/x-flv' in source.format %}
                           selected="selected"
                           {% endif %}
                           value="video/x-flv">
                          Flash
                        </option>
                      </select>
                    </div>
                  </div>
                </li> <!-- .sourcerow -->
                {% else %}
                <li class="sourcerow">
                  <div id="col-right" style="width:72%">
                    <div class="col-wrap">
                      <label>URL</label>
                      <input
                         type="text" name="urls[]" style="width:80%"
                         value="{{ source.url }}">
                      <button class="button" onclick="return wpgdVideo.removeSource(this)">
                        -
                      </button>
                    </div>
                  </div>

                  <div id="col-left" style="width:25%">
                    <div class="col-wrap">
                      <label>Format</label>
                      <select name="formats[]">
                        <option value=""></option>
                        <option value='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                          MP4
                        </option>
                        <option value='video/webm; codecs="vp8, vorbis"'>
                          WebM/Vorbis
                        </option>
                        <option value='video/ogg; codecs="theora, vorbis"'>
                          Ogg/Vorbis
                        </option>
                        <option value="video/x-flv">
                          Flash
                        </option>
                      </select>
                    </div>
                  </div>
                </li> <!-- .sourcerow -->

                {% endfor %}
              </ul> <!-- #sources -->

              <button class="button" onclick="return wpgdVideo.addSource()">
                New source
              </button>
            </div>
          </div> <!-- stuffbox sources -->

        </div> <!-- #col-right -->

        <div id="col-left" class="stuffbox" style="width:48%">
          <h3>Metadata</h3>
          <div class="form-field form-required">
            <label>Title</label>
            <input type="text" name="title" id="title" value="{{ fields.title }}">
            <p>A user visible text that describes the video</p>
          </div>

          <div class="form-field">
            <label>Date</label>
            <input type="text" name="date" id="date" class="date"
                   value="{{ fields.date }}">
            <p>This is the date that will be shown to the end user</p>
          </div>

          <div class="form-field form-required">
            <label>Author</label>
            <input type="text" name="author" id="author"
                   value="{{ fields.author }}">
            <p>The author's name (More than one values are accepted)</p>
          </div>

          <div class="form-field form-required">
            <label>License</label>
            <select name="license">
              <option
                 {% if fields.license == 'cc-by-sa' %}selected="selected"{% endif %}
                 value="cc-by-sa">
                Creative Commons - Atribuição - Partilha nos Mesmos
                Termos 3.0 Não Adaptada.
              </option>
            </select>
          </div>

          <div class="form-field form-required">
            <label>Description</label>
            <textarea name="description">{{ fields.description }}</textarea>
            <p>
              Another user visible text, but with more details about the
              video.
            </p>
          </div>
        </div> <!-- #col-left -->


        <p class="submit">
          <button class="button">
            Add video
          </button>
        </p>

      </div> <!-- #poststuff -->

    </div> <!-- .metabox-holder -->
  </form>
</div>
