<div class="wrap">
  <h2>Videos in home</h2>

  <p>
    These videos were choosen to appear in the home page of our site. If
    you want to change tnem, you have to select the new ones in the
    <a href="#">Video Listing Page</a>, through the <em>Appear in
    home</em> button.
  </p>

  <div>
    <img src="">
    <h3>Entrega Prêmio ARede</h3>
    <p>
      Nulla facilisi. Cras neque elit, dignissim sed molestie vel,
      elementum eu enim. Vestibulum vitae justo et metus vulputate
      imperdiet.
    </p>
  </div>
</div>
