<div class="wrap">
  <h2>Videos in home</h2>

  <p>
    These videos were choosen to appear in the home page of our site. If
    you want to change tnem, you have to select the new ones in the
    <a href="#">Video Listing Page</a>, through the <em>Appear in
    home</em> button.
  </p>

  <ul>
    {% for video in listing %}
    <li>
      <img src="{{ video.thumbnail }}"
           style="float:left; margin-right:20px;">
      <h3>{{ video.title }}</h3>
      <p>{{ video.description }}</p>
      <a href="#">Remove from home</a>
      <br style="clear:both; margin-top:20px;">
    </li>
    {% endfor %}
  </ul>
</div>
