<div class="wrap">
  <h2>Videos <a class="add-new-h2" href="admin.php?page=gd-videos-add">Add New</a></h2>

  <table class="wp-list-table widefat fixed audiences" cellspacing="0">
    <thead>
      <tr>
        <th style="width:10%">Thumbnail</th>
        <th>Title</th>
        <th>Summary</th>
        <th class="column-date">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for video in listing %}
      <tr>
        <td>
          <a href="admin.php?page=gd-videos-edit&video_id={{ video.id }}">
            <img alt="{{ video.title }}" src="{{ video.thumbnail }}"
                 style="width:100px;">
          </a>
        </td>
        <td>
          <strong>
            <a href="admin.php?page=gd-videos-edit&video_id={{ video.id }}">
              {{ video.title }}
            </a>
          </strong>

          <div class="row-actions">
            <span class="edit">
              <a href="admin.php?page=gd-videos-edit&video_id={{ video.id }}"
                 title="Edit this item">Edit</a> |
            </span>
            <span class="trash">
              <a href="admin.php?page=gd-videos-remove&video_id={{ video.id }}"
                 title="Remove this item">Remove</a>
            </span>
          </div>
        </td>
        <td class="column-title">{{ video.description }}</td>
        <td class="date column-date">
          <abbr>{{ video.date|date("d/m/Y") }}</abbr><br>
          {% if not video.status %}Not{% endif %} Published<br>
          {% if not video.highlight %}Not{% endif %} Highlighted
        </td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col">Thumbnail</th>
        <th classs="manage-column sortable desc" scope="col">Title</th>
        <th classs="manage-column sortable asc" scope="col">Description</th>
        <th classs="manage-column sortable desc" scope="col">Date</th>
      </tr>
    </tfoot>
  </table>
</div>
