<div class="wrap">
  <h2>Videos <a class="add-new-h2" href="admin.php?page=gd-videos-add">Add New</a></h2>

  <table class="wp-list-table widefat fixed audiences" cellspacing="0">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for video in listing %}
      <tr>
        <td>
          Thumb
        </td>
        <td>
          <strong><a href="#">{{ video.title }}</a></strong>

          <div class="row-actions">
            <span class="edit">
              <a href="#" title="Edit this item">Edit</a> |
            </span>
            <span class="trash">
              <a href="#" title="Remove this item">Remove</a>
            </span>
          </div>
        </td>
        <td class="column-title">{{ video.description }}</td>
        <td>
          {% if not video.status %}Not{% endif %} Published
        </td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col">Thumbnail</th>
        <th classs="manage-column sortable desc" scope="col">Title</th>
        <th classs="manage-column sortable asc" scope="col">Description</th>
        <th classs="manage-column sortable desc" scope="col">Status</th>
      </tr>
    </tfoot>
  </table>
</div>
