<div class="wrap">
  <h2>{{ count }} Contributions  <a href="javascript:add_new_contrib()" class="add-new-h2">Add New</a></h2>

  <div class="wpgd-new-contrib stuffbox" style="display:none">
    <form class="form-wrap">
      <div class="form-field">
        <label for="theme">Theme</label>
        <select class="wpgd-theme" name="theme">
          <option name="cuidado">cuidado</option>
          <option name="familia">familia</option>
          <option name="emergencia">emergencia</option>
          <option name="medicamentos">medicamentos</option>
          <option name="regional">regional</option>
        </select>
      </div>
      <div class="form-field">
        <label for="title">Title</label>
        <input type="text" name="title" style="width:518px">
      </div>
      <div class="form-field">
        <label for="content">Content</label>
        <textarea name="content" style="width:500px;height:200px" maxlength="600"> </textarea>
      </div>
    <input type="button" name="OK" class="button" value="OK">
    <input type="button" name="Cancel" class=" button" value="Cancel">
    </form>
  </div>

  <div class="wpgd-status-bar">loading...</div>
  <table class="wp-list-table widefat fixed audiences" cellspacing="0">
    <thead>
      <tr>
        <th style="width:5%">ID</th>
        <th style="width:7%">Approved?</th>
        <th style="width:6%">Parent</th>
        <th style="width:7%">Theme</th>
        <th class="column-date" style="width:8%">Creation date</th>
        <th style="width:10%">Author</th>
        <th style="width:15%">Title</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody id="contrib-rows">
      {% for contrib in listing %}

        {% if contrib.parent != 0 %}
          {% set apr = "" %}
        {% else %}
          {% if contrib.status == 1 %}
           {% set apr = "wpgd-approved" %}
          {% else %}
           {% set apr = "wpgd-disapproved" %}
          {% endif %}
        {% endif %}

        {% if contrib.parent == 0 %}
         {% set prt = "" %}
        {% else %}
         {% set prt = "is-child child-of-" ~ contrib.parent %}
        {% endif %}
      <tr class="{{apr}} {{prt}}" id="row-{{ contrib.id }}">

        <td class="contrib-id">{{ contrib.id }}</td>

        <td class="contrib-status"
            id="contrib-status[{{contrib.id}}]">
          <input type="checkbox"
                 {% if contrib.parent != 0 %}
                 style="display:none"
                 {% endif %}
                 {{contrib.status|replace({1:'checked',0:''})}}>
          <span
                 {% if contrib.parent == 0 %}
                 style="display:none"
                 {% endif %}>
            ^</span>

          <a class="delete-contrib" href="{{contrib.id}}">X</a>
          </td>

        <td>
          {% if contrib.moderation == 0 %}
          <select class="contrib-parents contrib-parent[{{contrib.parent}}]"
                  id="contrib-parents[{{contrib.id}}]">
            <option value="0">None</option>
            {% for c in listing %}
              {% if contrib.parent == c.id %}
              <option value="{{c.id}}" selected>{{c.id}}</option>
              {% else %}
                {% if c.id != contrib.id %}
                <option value="{{c.id}}">{{c.id}}</option>
                {% endif %}
              {% endif %}
            {% endfor %}
          </select>
          {% endif %}
        </td>

        <td id="contrib-theme[{{contrib.id}}]"
            class="contrib-theme">{{ contrib.theme }}</td>

        <td>{{ contrib.creation_date|date("d/m/Y") }}</td>


        <td><a href="{{siteurl}}/wp-admin/user-edit.php?user_id={{ contrib.user_id }}"> {{ contrib.display_name }}</td>

        <td id="contrib-title[{{contrib.id}}]"
            class="contribution-title">{{ contrib.title }}</td>
        <td id="contrib[{{contrib.id}}]"
            class="contribution">{{ contrib.content }}</td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <th classs="manage-column sortable desc" scope="col">ID</th>
        <th classs="manage-column sortable desc" scope="col">Approved?</th>
        <th classs="manage-column sortable desc" scope="col">Parent</th>
        <th classs="manage-column sortable asc" scope="col">Theme</th>
        <th classs="manage-column sortable desc" scope="col">Creation Date</th>
        <th classs="manage-column sortable desc" scope="col">Author</th>
        <th classs="manage-column sortable desc" scope="col">Title</th>
        <th classs="manage-column sortable asc" scope="col">Content</th>
      </tr>
    </tfoot>
  </table>
</div>
